.silk-icon 
{
    max-width: 16px !important;
    margin: 0 0 0 -1px;
}



.sg_menu_item.sgactions-filter-passfail {
    font-style: italic;
}

.sg_menu_item.sgactions-filter-passfail .sgactions-filter-count {
    font-size: 0.8em;
    color: #888;
}


.sgactions-dialog h2 {
    margin-bottom: 0.5em;
}
.sgactions-dialog p {
    margin-bottom: 0.5em;
}

.sgactions-dialog img {
    border: 1px solid black;
}



.sgactions-select-prologue {
    margin-bottom: 1ex;
}

.sgactions-select-row {
    margin-bottom: 0.3em;
}

.sgactions-select-row input {
    margin-left: 1ex;
}

.sgactions-select-epilogue {
    margin-top: 1ex;
}
